@{
    this.ViewData["Title"] = "All discussions";

    string loggedUserId = "0";
    if (User.Identity.IsAuthenticated)
    {
        loggedUserId = User.Claims.FirstOrDefault(claim => claim.Type == "LoggedUserId").Value;
    }
}
@model List<ShortThreadResponseDto>

@if (this.Model.Count() == 0)
{
    <p>
        <i>No threads found 😔</i>
    </p>
}
else
{

    <div style="margin: 0 auto; width:100%">
        <h3 style="text-align:center;margin-top:5%;font-size:2vw">Popular discussions:</h3>
        <table style="text-align: left;" class="table appTable table-hover table-dark">
            @*ToDo Make each thread title link to the Thread in the table*@
            <thead>
                <tr>
                    <th style="text-align:center; font-size: 1vw;" col">Topic</th>
                    <th style="text-align:center; font-size: 1vw;" scope="col">Replies</th>
                    <th style="text-align:center; font-size: 1vw; width: 150px;" scope="col">Reactions</th>
                    <th style="text-align:center; font-size: 1vw;" scope="col">Author</th>
                    <th style="text-align:center; font-size: 1vw;" scope="col">Creation Date:</th>

                </tr>
            </thead>
            <tbody style="font-size:1vw;  vertical-align: middle;">
                @{
                    foreach (var thread in this.Model)
                    {
                        <tr>
                            <td style="padding: 0;">
                                <a asp-controller="Thread" asp-action="Details" asp-route-id="@thread.Id" style="text-decoration:none">@thread.Title</a>
                            </td>
                   
                            <td style=text-align:center;>@thread.Replies</td>
                            <td style="text-align:center;">
                                <div style="display: inline-block; width: 18px; font-size:0.7vw; color:limegreen">⨇</div>
                                <div style="display: inline-block; height:auto; width: 27px;">@thread.LikeCount</div>
                                <div style="display: inline-block; width: 18px; font-size:0.7vw; color:red">⨈</div>
                                <div style="display: inline-block; height:auto; width: 27px;">@thread.DislikeCount</div>
                            </td>
                            <td style=text-align:center;>@thread.AuthorUserName</td>
                            <td style=text-align:center;>@thread.CreationDate.ToString("g")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

