@{
    this.ViewData["Title"] = "All discussions";

    string loggedUserId = "0";
    if (User.Identity.IsAuthenticated)
    {
        loggedUserId = User.Claims.FirstOrDefault(claim => claim.Type == "LoggedUserId").Value;
    }
}
@model List<ShortThreadResponseDto>

@if (this.Model.Count() == 0)
{
    <p>
        <i>No threads found 😔</i>
    </p>
}
else
{

    <div style="margin: 0 auto; width:100%">
        <h3 style="text-align:center;margin-top:15%;font-size:2vw">Popular discussions:</h3>
        <table style="text-align: left;" class="table appTable table-hover table-dark">
            @*ToDo Make each thread title link to the Thread in the table*@
            <thead>
                <tr>
                    <th style="text-align: center; font-size: 1vw;" col">Topic</th>
                    <th style="font-size: 1vw;" scope="col">Replies</th>
                    <th style="font-size: 1vw;" scope="col">Reactions</th>
                    <th style="font-size: 1vw;" scope="col">Author</th>
                    <th style="font-size: 1vw;" scope="col">Creation Date:</th>

                </tr>
            </thead>
            <tbody style="font-size:1vw">
                @{
                    foreach (var thread in this.Model)
                    {

                        <tr>

                            <td>
                                @thread.Title
                                <br />
                                @foreach (var tag in thread.Tags)
                                {
                                    <button class="btn btn-primary btn-sm">@tag</button>
                                }
                            </td>
                            <td>@thread.Replies</td>
                            <td>
                                <div style="display: inline-block; width: 18px;">&#x1F44D;</div>
                                <div style="display: inline-block; width: 27px;">@thread.Replies</div>
                                <div style="display: inline-block; width: 18px;">&#x1F44E;</div>
                                <div style="display: inline-block; width: 27px;">@thread.Tags.Count()</div>
                            </td>
                            <td>@thread.AuthorUserName</td>
                            <td>@thread.CreationDate</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

