@model ThreadWithRepliesVM;
@{
    this.ViewData["Title"] = "Sort Test";
    var sortParameters = new List<string> { "Username", "Email", "CreationDate" };
    var sortOptions = new SelectList(sortParameters);

    var orderParameters = new List<string> { "Asc", "Desc" }; //change repository method to accept more user-friendly inputs, ex. Ascending/Descending ?
    var orderOptions = new SelectList(orderParameters);
}

<form asp-controller="REPLIES_OR_THREAD_I_DUNNO" asp-action="UPDATE_THIS_LATER" method="post">
    <div>        
        <input asp-for="Thread" type="hidden" value="@Model.Thread">       
    </div>
    <table style="text-align:left;padding-left:100px" >
        @*ToDo Make each thread title link to the Thread in the table*@
        
        <tbody style="font-size:0.8vw">
           
                    <tr>
                <input asp-for="QueryParameters.ThreadId" type="text" value="@Model.QueryParameters.ThreadId" hidden>
                        <td>
                    <label asp-for="QueryParameters.UserName">By author:</label><br>
                    <input asp-for="QueryParameters.UserName" type="text" value="@Model.QueryParameters.UserName"               placeholder="Mulder">
                        </td>

                        <td>
                    <label asp-for="QueryParameters.Email">By e-mail:</label><br> @*Remove this one?*@
                    <input asp-for="QueryParameters.Email" type="text" value="@Model.QueryParameters.UserName" placeholder="Mulder@Scully.com">
                        </td>

                        <td>
                    <label asp-for="QueryParameters.CreationDate">By creation date:</label><br> @*Have only before and after?*@
                    <input asp-for="QueryParameters.CreationDate" type="text" value="@Model.QueryParameters.CreationDate" placeholder="06.06.2006">
                </td>

                        <td>
                    <label asp-for="QueryParameters.CreatedAfter">Created after:</label><br>
                    <input asp-for="QueryParameters.CreatedAfter" type="text" value="@Model.QueryParameters.CreatedAfter" placeholder="06.06.2006">
                        </td>

                        <td>
                    <label asp-for="QueryParameters.CreatedBefore">Created before:</label><br>
                    <input asp-for="QueryParameters.CreatedBefore" type="text" value="@Model.QueryParameters.CreatedBefore" placeholder="06.06.2006">
                        </td>

                        <td>
                    <label asp-for="QueryParameters.SortBy">Order by:</label><br>
                    <select asp-items="@sortOptions" asp-for="QueryParameters.SortBy"></select>
                        </td>

                <td>
                    <label asp-for="QueryParameters.SortOrder">Sort by:</label><br>
                    <select asp-items="@orderOptions" asp-for="QueryParameters.SortOrder"></select>
                </td>
                <td>
                    <input type="submit" value="Filter"
                     class="btn appBtn-outline" style="text-decoration:none">
                </td>

                    </tr>
                
            
        </tbody>
    </table>
    
    
    
        
        
    

</form>