@model UserProfileVM;
@{
    this.ViewData["Title"] = "Profile";    
    string loggedUsername = User.Claims.FirstOrDefault(claim => claim.Type == "Username").Value;
    bool ownProfile = loggedUsername == Model.Username;

    string welcomeMessage = ownProfile ? $"Welcome, {loggedUsername}!" : $"{Model.Username}'s profile.";
    string statsMessage = ownProfile ? "Your activity history:" : $"{Model.Username}'s activity history:";
    string userThreadsMessage = ownProfile ? "Show your threads" : $"Show {Model.Username}'s threads";
    string userPostsMessage = ownProfile ? "Show your posts" : $"Show {Model.Username}'s posts";
    int totalThreads = Model.ThreadsCount;
    int totalPosts = Model.RepliesCount;

    string profilePicDirectory = "wwwroot/ProfilePictures";
    bool hasProfilePic = Directory.EnumerateFiles(profilePicDirectory, $"{Model.Username}*").Any();
    var directory = new DirectoryInfo(@"wwwroot/ProfilePictures");
    var fileInfo = directory.GetFiles("*" + Model.Username + "*.*");
    string profilePicName = hasProfilePic ? $"{fileInfo[0].Name}" : "default.jpg";

}

<div class="user-profile">
    <div class="appBelowHeader">
        <div style="color: #FFFF33;">
            @if (ViewData["ErrorMessage"] != null)
            {
                @ViewData["ErrorMessage"]
                ;
            }
        </div>
        @welcomeMessage
        <div>
            <img src="/ProfilePictures/@profilePicName" class="appProfilePicture" />
        </div>
        <br />
        @if (ownProfile)
        {
            <div>
                <a asp-controller="Users" asp-action="UploadPicture"
               type="button" class="btn appBtn-outline" style="text-decoration:none">Change picture</a>

                <a asp-controller="Users" asp-action="Update" asp-route-id="@loggedUsername"
               type="button" class="btn appBtn-outline" style="text-decoration:none">Edit profile</a>
            </div>
            <br />
        }
        @statsMessage<br />
        Threads created: @totalThreads<br />
        Total posts: @totalPosts
        
        
    </div>

    

    
    <div class="appAboveFooter">
        @if (totalThreads > 0)
        {
            <a asp-controller="" asp-action="">@userThreadsMessage</a>

        }
        <br />
        @if (totalPosts > 0)
        {
            <a asp-controller="" asp-action="">@userPostsMessage</a>
        }
    </div>
</div>