
@using ForumSystemTeamFour.Models.DTOs
@model List<Thread>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <title>Paranormality - Main page</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/application.css" />
    <style>
    * {
      box-sizing: border-box;
    }
</style>
</head>

<body>   
    <header>
        <h1 id="messenger">߷ꔍᚥਲ਼ꕉ⩙ꅵꕿꌀϠ፠ꈾ⨳</h1>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js'></script>
        <script src="~/js/application.js"></script>
    </header>
    <div style ="position:absolute;top:5%;right:5%;">
        <div><a asp-controller="Users" asp-action="Register"
               type="button" class="btn appBtn-outline" style="margin-bottom: 5px;text-decoration:none">Register</a>
        </div>
        <div><a asp-controller="Users" asp-action="Login"
               type="button" class="btn appBtn-outline" style="text-decoration:none">Login</a>
        </div>
    </div>
    <div> 
        <div style="position: absolute;left: 50%;transform: translate(-50%, 0%);width:70%">
            <h3 style ="text-align:center;margin-top:15%;font-size:2vw">Popular discussions:</h3>
            <table class="table appTable table-hover table-dark">
                @*ToDo Make each thread title link to the Thread in the table*@
                <thead>
                    <tr>
                        <th scope="col">Topic</th>
                        <th scope="col">Replies</th>
                        <th scope="col">Author</th>
                        <th scope="col">Last post:</th>
                    </tr>
                </thead>
                <tbody style="font-size:1vw">
                    @{
                        foreach (var thread in this.Model)
                        {
                            var latestReply = thread.Replies.OrderByDescending(reply => reply.CreationDate).FirstOrDefault();
                            <tr>
                            
                                <td>@thread.Title</td>
                                <td>@thread.Replies.Count()</td>
                                <td>@thread.Author.Username</td>
                                @if (latestReply != null)
                                {
                                    <td>@latestReply.CreationDate.ToString("g")</td>
                                }
                                else
                                {
                                    <td>No replies yet :&#0060;</td>
                                }

                            </tr>
                        }
                    }
                </tbody>
            </table>                
        </div>
    </div>

    <footer class="grid-footer grid-centered">
            <div class="grid-centered" style="text-align:center;">
                © copyright @DateTime.Now.Year Paranormality.com
            </div>
        </footer>

    </body>
</html>