
@using ForumSystemTeamFour.Models.DTOs
@model AnonymousHomeVM

@{
    Layout = null;
    int totalUsers = Model.TotalUsers;
    int totalThreads = Model.NumberOfThreads;
    int totalPosts = Model.NumberOfPosts;
    string usersOnline = string.Join(", ", Model.UsersOnline);
    string popularTags = string.Join(", ", Model.TopTags);

}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <title>Paranormality - Main page</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/application.css" />
    <style>
    * {
      box-sizing: border-box;
    }
</style>
</head>

<body>   
    <header>
        <h1 id="messenger">߷ꔍᚥਲ਼ꕉ⩙ꅵꕿꌀϠ፠ꈾ⨳</h1>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js'></script>
        <script src="~/js/application.js"></script>
    </header>
    <div style ="position:absolute;top:5%;right:5%;">
        <div><a asp-controller="Users" asp-action="Register"
               type="button" class="btn appBtn-outline" style="margin-bottom: 5px;text-decoration:none">Register</a>
        </div>
        <div><a asp-controller="Users" asp-action="Login"
               type="button" class="btn appBtn-outline" style="text-decoration:none">Login</a>
        </div>
    </div>

    <div class="grid-menu" style="text-align:left; position:absolute; top:25.3%; padding-left:60px">
        <div><b>Forum stats:</b></div><br />
        <div>Registered users: @totalUsers</div>
        <div >Total threads: @totalThreads</div>
        <div >Total posts: @totalPosts</div>
        <br />
        <div><b>Popular Tags:</b></div>
        @{
            foreach (var tag in Model.TopTags)
            {
                <div style="display: inline-block;background-color:#52595D; border-radius: 05px;margin-top:5px; width:auto">@tag</div>
                <br />
            }
        }



    </div>

    <div> 
        <div style="position: absolute;left: 50%;transform: translate(-50%, 0%);width:70%">
            <h3 style ="text-align:center;margin-top:10%;font-size:2vw">Popular discussions:</h3>
            <table class="table table-hover table-dark">
               
                <thead>
                    <tr>
                        <th scope="col">Topic</th>
                        <th scope="col">Replies</th>
                        <th scope="col">Author</th>
                        <th scope="col">Last post:</th>
                    </tr>
                </thead>
                <tbody style="font-size:1vw">
                    @{
                        foreach (var thread in this.Model.TopThreads)
                        {
                            var latestReply = thread.Replies.OrderByDescending(reply => reply.CreationDate).FirstOrDefault();
                            <tr>
                                <td>
                                    <a asp-controller="Thread" asp-action="Details" asp-route-id="@thread.Id" style="text-decoration:none">@thread.Title</a>
                                </td>
                                <td>@thread.Replies.Count()</td>
                                <td>@thread.Author.Username</td>
                                @if (latestReply != null)
                                {
                                    <td>@latestReply.CreationDate.ToString("g")</td>
                                }
                                else
                                {
                                    <td>No replies yet :&#0060;</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div style="padding-top:20px;"><b>Who is online:</b> <div style="font-size:14px">@usersOnline</div></div>
        </div>
    </div>

    <footer class="grid-footer grid-centered">
            <div class="grid-centered" style="text-align:center;">
                © copyright @DateTime.Now.Year Paranormality.com
            </div>
        </footer>

    </body>
</html>